<p>resources works!</p>

<!-- ---------------------------------------- -->
    <h1>Reactive form</h1>
<div class="col-sm-6">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Student Name</label>
            <input type="text" required class="form-control" name="username" formControlName="username" placeholder="Student name">
        <span class="error" *ngIf="!userForm.controls.username.valid && userForm.controls.username.touched" 
                             class="error">User name is required</span>
        </div>
        <br>
        <div class="form-group">
            <label>Roll_No</label>
            <input type="text" required class="form-control" name="roll no" formControlName="rollNo" placeholder="Roll no">
        </div>
        <br>
        <div class="form-group">
            <label>Address</label>
            <input type="text" required class="form-control" name="address" formControlName="address" placeholder="Address">
        </div>
        <br>
        <div formArrayName="skill">
            <label >Skills</label>
            
            <button class="btn btn-primary" (click)="onAddSkill()"> + </button><br>

            <ng-container *ngFor="let studentSkill of skill.controls; let skillIndex=index" [formControlName]="skillIndex">
            <input type="text" class="form-control" name="skill" formControlName="skill" placeholder=" Enter Skills">

            <div class="col-md-2 mb-3 mt-4" *ngIf="userForm.value.skill.length >1">
                <button class="btn btn-danger" (click)="onDeleteSkill(skillIndex)">Delete</button>
            </div>
            </ng-container>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.invalid ">Submit</button>
    </form>
</div>
