<p>user-list-presentation works!</p>
<div>
    <button open class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" (click)="showcomponent()" title="add">
        Add User Details
      </button>
      <form #Form="ngForm" >
        <div>
              <input type="text"  name="search"  class="form-control" [(ngModel)]="searchText" placeholder="Searching name">
              <label for="clientname" class="form-label">CLIENT NAME: </label>
              <select class="form-select" id="clientname" >
                <option selected disabled value="">Choose...</option>
                <option value="apple">Apple</option>
                <option value="jbl">JBL</option>
                <option value="1rivet">1Rivet</option>
                <option value="boat">Boat</option>
              </select>
        </div>
        </form>

    <table class="table table-bordered" class="table" 
    *ngIf="(userList).length > 0; else noResults" >
    <thead>
        <tr>
            <th scope="col" class="position" (click)="sortData('firstname')">FIRST NAME
              <span class="glyphicon sort-icon" *ngIf="key =='firstname'"
                    [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th scope="col" class="pointer" (click)="sortData('lastname')">LAST NAME
              <span class="glyphicon sort-icon" *ngIf="key =='lastname'"
                    [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th scope="col" class="pointer" (click)="sortData('clientname')">CLIENT NAME
              <span class="glyphicon sort-icon" *ngIf="key =='clientname'"
                    [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th scope="col"class="pointer" (click)="sortData('email')">EMAIL
              <span class="glyphicon sort-icon" *ngIf="key =='email'"
                    [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th scope="col"class="pointer" (click)="sortData('office')">OFFICE
              <span class="glyphicon sort-icon" *ngIf="key =='office'"
                    [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th scope="col"class="pointer" (click)="sortData('contactnumber')">CONTACT NUMBER
              <span class="glyphicon sort-icon" *ngIf="key =='contactnumber'"
              [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody > 
        <tr *ngFor="let user of userList ; let i=index">
            <td> {{user.firstname}} </td>
            <td> {{user.lastname}} </td>
            <td> {{user.clientname}} </td>
            <td> {{user.email}} </td>
            <td> {{user.office}} </td>
            <td> {{user.contactnumber}} </td>
            <td class="text-left">
                <button class="btn btn-outline-primary m-1" data-toggle="tooltip" data-placement="right" title="Edit" 
                  routerLink="/user/edit/{{user.id}}">
                  Edit
                </button>
         
                <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="Delete" 
                 (click)="deleteUser(user.id)" >
                  Delete
                </button>
            </td>
        </tr>
    </tbody>
  </table>
  <ng-template #noResults>
    <p>No results found for "{{searchText}}".</p>
  </ng-template>
</div>
